
body {

   /* background-color: #969495; */
   /* background-color: #7F7F7F; */
   background-color: #817F80;

    font-family: 'Times New Roman', Times, serif;
}

#main_title {

    width: 45%;

    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;

    cursor: pointer;
}


#clock {
/*    font-size: small; */
    color: black;
    font-size: 16px;

    position: absolute;
    bottom: 0px;
/*    right: 120px; */
    right: 5px; 
   /* float: left; */
}

/* right: 1%; 
   width: 10%; */

#sliding_camera {

    position: absolute ;
    left: 0px ; 
   /* left: -60px; */
    top: 20px ; 
    width: 70px ;


}

 #camera {
   /* float: right; */
   position: absolute;
   top: 1px;
   right: 20px; 
   
   /* width: 90px; */
   width: 120px;

}

#camera_head {

    width: 120px;
    position: fixed;
    z-index: 1;
    top : 2px ; 
    right: 1px ;
  /* transform: translateY(-20px); */
   transform-origin: bottom center; 
}

#camera_base {

    width: 70px; 

    position: fixed;
    
    top: 40px; 
    right: 1px;
    z-index: 0;

    transform: translateX(23px) translateY(-10px);
}
/*
#camera_base {

    width: 45px; 

    position: fixed;
    
    top: 40px; 
    right: 1px;
    z-index: 0;
} */


#menu {
    position: absolute;
    top: 7px ; 
}

.menu_button {
/*    background-color: rgba(255,255,255,0.28); */

 transition-duration: 0.4s;
    background-color: transparent;

    cursor: pointer;
    text-align: center;
     /* border: none; */
     border: 2px solid #dbe219;

     border-radius: 9px;
 /*     border-color: aquamarine; */

     font-size: 13px;
     /*
    padding: px 30px;
*/

/*
    padding-top: 9px ;
    padding-bottom: 9px; */

    padding: 15px 32px;


     color: #dbe219;
    /*opacity: 0.28; */
    /*color: rgba(219,226,25,1);*/

    /*
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;*/

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    /* outline: none; */
}
.menu_button:focus {
    outline: 0; 
}
 .menu_button:hover {
     background-color: #dbe219 ;
     color: black;
 }

 /*
 .menu_button:active {
    background-color: lavender;
    color: darkgray;
 }*/

 .menu_button[name="current_menu_button"] {

   /* background-color: #dbe219; */
  /* background-color: #1922e2;*/
   background-color: blue;
    color: darkgray;
    color: #dbe219;

    /*
     background-color: rgba(255,255,255,0.40);
     outline: none;
    */
 } 

.essay {
   /* background-color: antiquewhite; */
  /* background-color: transparent; */

  background-color: rgba(255,255,255,.15);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 10px  white;
   
    border: 1pt solid; 
    border-color: lightgray;
    border-radius: 9px;

    resize: none;

    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

    color: #1922e2;

    font-style: normal;

    position: absolute;
    top: 80px;
   
   /* right: 120px; */
    right: 5px; 

   /* width:  27em; 
    height: 30em; */
    width: 50%;
    height: 73%;

outline-style: none;
}

.essay_title {
   
    width: 450px;
    position: absolute;
    top: 80px; 
    left: 10px; 
}

.essay_text {
    width: 100%;
    height: 100%;
}



  .face {

   /* position: absolute;
    top: 170px; 
    left: 200px; */
   /* width: 100%; */

    margin: auto; 
   /* width: 10%; */
   width: 60px; 
   
   /* border: 3px solid green; */
    
    position: absolute;
  /*  top: 70px ; 
  left: 40%; 
  */
    bottom: 6px;
    right: 90px; 

  }
  .eye {
   
    position: relative;
    display: inline-block;
   
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #CCC;

    

   /* margin: auto;  */
  }
  .eye:after { /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }